<div class="main-allanncoll-list">
  <h2>Liste de Favoris</h2>
  <div class="card-container">
    <div class="card" *ngFor="let annonce of favoris">
      <div class="card-image">
        <img [src]="annonce.imageHouse" alt="Maison">
      </div>
      
      <div class="card-content">
        <p><strong>Équipement:</strong> {{ annonce.equipmentType }}</p>
        <p><strong>Prix par personne:</strong> {{ annonce.pricePerPerson }}</p>
        <p><strong>Type de maison:</strong> {{ annonce.houseType }}</p>
      </div>
      <div class="actions">
        <!-- Bouton de suppression -->
        <button class="btn btn-danger" (click)="removeFavoris(annonce)">Supprimer</button>
      </div>
    </div>
  </div>
</div>
